## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [2]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [3]:
auto = pd.read_csv(Automobile.csv)

NameError: name 'Automobile' is not defined

**Check the head of the DataFrame.**

**How many rows and columns are there?**

**What is the average Price of all cars in the dataset?**

**Which is the cheapest make and costliest make of car in the lot?**

**How many cars have horsepower greater than 100?**

**How many hatchback cars are in the dataset ?**

**What are the 3 most commonly found cars in the dataset?**

**Someone purchased a car for 7099, what is the make of the car?**

**Which cars are priced greater than 40000?**

**Which are the cars that are both a sedan and priced less than 7000?**

### The END